<legend>Editando Curso</legend>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to 'Ver+', @curso, :class => "btn btn-primary" %>
	<%= link_to 'Ir para Lista de Cursos', cursos_path, :class => "btn btn-primary" %>
</div>