<!DOCTYPE html>
<html>
<head>
  <title>Sacu</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="row-fluid">
	<div class="span12">
		<%= yield %>
		<hr/>
	</div>
</div>
</div>

<div class="progress">
  <div class="bar bar-success" style="width: 25%;"></div>
  <div class="bar bar-warning" style="width: 25%;"></div>
  <div class="bar bar-danger" style="width: 25%;"></div>
  <div class="bar bar-info" style="width: 25%;"></div>
</div>

<div class="container">
	<div class="span12">
		<h3>Desenvolvido por Zarathon Maia</h3>
	</div>
</div>
</body>
</html>
